@import '../../styles/variables.scss';

.popup {
  position: absolute;
  top: 40%;
  left: calc(50% - 325px);
  display: flex;
  align-items: center;
  z-index: 10001;
  justify-content: space-between;
  padding: 40px;
  max-width: 750px;
  width: 100%;
  background: $light-background;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.blur {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.25);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  svg {
    transition: 0.3s;
  }
  &:hover {
    svg {
      transform: rotate(360deg);
    }
  }
}

.day {
  .day_temp {
    font-weight: 500;
    font-size: 60px;
    color: $primary-color;
    margin-bottom: 12px;
  }
  .day_name {
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 12px;
  }
  .img {
    svg {
      height: 53px;
      width: 53px;
    }
    margin-bottom: 12px;
  }
  .day_time, .day_city {
    font-size: 15px;
    color: $base-color;
  }
}