@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background: var(#{--body-background-default});
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}