@import '../../../../styles/variables.scss';

.this_day_info {
  position: relative;
  padding: 40px;
  max-width: 750px;
  width: 100%;
  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-right: $border-radius;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  &:last-of-type{
    margin-bottom: 0;
  }
  .indicator,
  .indicator_name {
    margin-right: 20px;
  }

  .indicator {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
    border-radius: 50%;
  }

  .indicator_name, .indicator_value {
    font-size: 14px;
  }

  .indicator_name {
    color: $base-color;
  }

  .indicator_value {
    color: var(#{--text-color-default});
    z-index: 1;
  }
}

.cloud_img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}