@import "../../styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.change_theme,
.logo {
  margin-right: 20px;
  cursor: pointer;
}

.logo {
  margin-right: 20px;
  svg {
    width: 65px;
    height: 65px;
  }
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  color: $primary-color;
}